<footer class="footer">
  <small>
    <a href="http://www.samdiener.com/">Sam Diener Site</a>
    by Sam Diener
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>